.profimg {
  width: 100%;
  height: 140px;
}

.usrInfo {
  display: flex;
  padding-left: 20px;
  margin-top: 10px;
}

.usrAvatarImage {
  width: 75px;
  height: 75px;
  border-right: 5px solid rgb(100, 66, 128, 0.8);
}

.usrName {
  align-self: center;
  margin-left: 20px;
  font-size: 2rem;
  color: rgb(100, 66, 128, 0.8);
  font-weight: 500;
}

.usrDescription {
  max-width: 80%;
  font-size: 0.6rem;
  color: #aaaaaa;
  line-height: 0.6rem;
  padding-left: 2px;
}

.prodescr {
  margin: 10px 0px 20px 20px;
}
