.newpostform {
  display: flex;
  margin: 20px 0;
  height: 150px;
  /* width: 100%; */
}

.newpostform form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.newpostform textarea {
  display: flex;
  width: 80%;
  padding: 10px;
  /* height: 100px; */
  border: 1px solid #eee;
  color: #777;
  outline: none;
  resize: none;
  font-size: 0.9rem;
}

.newpostform button[type='submit'] {
  /* display: flex; */
  width: 16%;
  border: 1px solid #eee;
  background-color: #fafafa;
}

.newpostform button[type='submit'] img {
  height: 32px;
  width: 32px;
}
.newpostform button[type='submit']:hover {
  /* background-color: #f5f5f5; */
  background-color: gold;
  cursor: pointer;
}

.item {
  margin-top: 10px;
  padding: 10px;
  color: #777;
  background-color: #eee;
}

h3 {
  color: #444444;
  padding: 0;
  margin: 0;
}

small {
  font-size: 0.7rem;
  color: #bbbbbb;
}
